<!-- fitness-mode.page.html -->
<app-header></app-header>
<ion-content class="mode-page ion-padding">

  <div class="mode-header">
    <h1>Choose Your Training</h1>
    <p>Select your fitness style</p>
  </div>

  <div class="mode-cards">

    
    <!-- WEIGHT LIFTING -->
    <div class="mode-card gym" (click)="goToGym()">

      <div class="emoji">🏋️</div>

      <h2>Weight Lifting</h2>

      <p>Strength • Muscle • Power</p>

    </div>
   <!-- YOGA -->
    <div class="mode-card yoga" (click)="goToYoga()">

      <div class="emoji">🧘</div>

      <h2>Yoga</h2>

      <p>Flexibility • Balance • Peace</p>

    </div>

  </div>

</ion-content>