.yoga-bg {
  --background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
  color: white;
}

/* TOOLBAR */
.yoga-toolbar {
  --background: #5c5470;
  --color: white;
}

/* HERO */
.hero-section {
  position: relative;
  padding: 35px 20px;
  text-align: center;
}

.hero-icon {
  font-size: 90px;
  color: #ffeaa7;

  position: relative;
  z-index: 2;

  animation: float 3s infinite;
}

.hero-section h1 {
  font-size: 34px;
  font-weight: bold;

  margin-top: 15px;
}

.hero-section p {
  color: #f1f2f6;

  margin: 15px 0 25px;

  line-height: 1.5;
}

/* GLOW */
.lotus-glow {
  width: 180px;
  height: 180px;

  border-radius: 50%;

  background: rgba(255,255,255,0.15);

  position: absolute;

  top: 10px;
  left: 50%;

  transform: translateX(-50%);

  filter: blur(25px);
}

/* BUTTON */
.meditate-btn {
  --background: linear-gradient(to right, #00b894, #55efc4);

  --border-radius: 18px;

  height: 50px;

  font-weight: bold;

  color: black;
}

/* STATS */
.stats-container {
  display: flex;

  justify-content: space-around;

  padding: 10px 15px;
}

.stat-card {
  width: 100px;

  text-align: center;

  border-radius: 22px;

  padding: 15px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(10px);

  color: white;
}

.stat-card ion-icon {
  font-size: 36px;

  color: #ffeaa7;
}

.stat-card h2 {
  font-size: 28px;

  margin-top: 10px;
}

/* AFFIRMATION */
.affirmation-box {
  margin: 20px;

  padding: 22px;

  border-radius: 28px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(12px);

  text-align: center;
}

.affirmation-box h2 {
  margin-bottom: 15px;
}

.affirmation-box p {
  font-size: 18px;

  line-height: 1.6;

  color: #f1f2f6;
}

.affirm-btn {
  --background: linear-gradient(to right, #8e44ad, #c0392b);

  --border-radius: 16px;

  margin-top: 18px;
}

/* SECTION */
.section-title {
  padding: 0 20px;
}

.section-title h2 {
  font-size: 24px;
}

/* POSES */
.poses-container {
  display: flex;

  overflow-x: auto;

  padding: 15px;

  gap: 15px;
}

.pose-card {
  min-width: 180px;

  border-radius: 24px;

  padding: 20px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(10px);

  text-align: center;

  color: white;
}

.pose-card ion-icon {
  font-size: 50px;

  color: #ffeaa7;
}

.pose-card h3 {
  margin-top: 10px;

  font-size: 22px;
}

.pose-card p {
  color: #f1f2f6;
}

/* ACTIVE POSE */
.active-pose-card {
  margin: 20px;

  padding: 20px;

  border-radius: 25px;

  background: linear-gradient(
    to right,
    #00b894,
    #00cec9
  );

  color: black;

  text-align: center;

  animation: pop 0.5s ease;
}

.active-pose-card ion-icon {
  font-size: 50px;
}

/* ANIMATION */
@keyframes float {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pop {

  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}