<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Admin Portal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding dark-bg">

  <div class="card">
    <h2>Admin Panel</h2>

    <div class="chat-box">
      <div *ngFor="let msg of messages" [ngClass]="msg.sender" class="message">
        <strong>{{msg.sender}}</strong>: {{msg.text}}
        <div class="time">{{msg.time}}</div>
      </div>
    </div>

    <ion-input placeholder="Reply" [(ngModel)]="adminMsg"></ion-input>
    <ion-button expand="block" (click)="sendReply()">Send</ion-button>

    <ion-button color="danger" expand="block" (click)="logout()">Logout</ion-button>
  </div>

</ion-content>