<ion-content class="admin-page">

  <div class="chat-box">

    <div *ngFor="let msg of messages"
         class="msg"
         [ngClass]="msg.sender">

      <b>{{ msg.username }}</b>
      <div>{{ msg.text }}</div>
      <small>{{ msg.time }}</small>

    </div>

  </div>

  <ion-input [(ngModel)]="adminMsg"
             placeholder="Reply"></ion-input>

  <ion-button expand="block" (click)="sendReply()">
    Send
  </ion-button>

  <ion-button color="danger"
              expand="block"
              (click)="clearAllChats()">
    Response Granted (Clear Chat)
  </ion-button>

  <!-- RATINGS -->
  <div class="ratings">

    <h3>User Ratings ⭐</h3>

    <div *ngFor="let r of getRatings() | keyvalue">
      👤 {{ r.key }} → ⭐ {{ r.value }}
    </div>

  </div>

</ion-content>