<ion-content class="ion-padding">

  <div class="card">

    <h2>👤 Profile</h2>

    <!-- CURRENT USER -->
    <div *ngIf="currentUser; else noUser">

      <p><b>Username:</b> {{ currentUser.username }}</p>

      <p><b>Login Time:</b> {{ currentUser.loginTime | date:'medium' }}</p>

    </div>

    <!-- IF NO USER -->
    <ng-template #noUser>
      <p>No user logged in</p>
    </ng-template>

    <hr>

    <h3>All Users</h3>

    <div *ngFor="let u of allUsers">
      • {{ u.username }}
    </div>

    <br>

    <ion-button color="danger" expand="block" (click)="logout()">
      Logout
    </ion-button>

  </div>

</ion-content>