<ion-content fullscreen class="login-page">

  <div class="overlay">
  <div class="login-card">

    <h1>Welcome!</h1>

    <p>Login to continue your fitness journey</p>

    <ion-input
      fill="outline"
      placeholder="Username"
      [(ngModel)]="username">
    </ion-input>

    <br>

    <ion-input
      fill="outline"
      type="password"
      placeholder="Password"
      [(ngModel)]="password">
    </ion-input>

    <br>

    <ion-button expand="block" color="success" (click)="login()">
      Login
    </ion-button>

    <div class="bottom-text">

      <p>New User?</p>

      <ion-button fill="clear" (click)="goSignup()">
        Create Account
      </ion-button>

    </div>

  </div>
  </div>

</ion-content>